{#
/**
 * @file
 * Theme override to display current weather.
 *
 * Available variables:
 * - temperature: The current temperature.
 * - icon: The weather icon URL.
 */
#}
<div class="current-weather">
  <div class="temperature">{{ temperature }}</div>
  <div class="icon"><img src="{{ icon }}" alt="Weather Icon"></div>
</div>
